doctype html
html(lang="en")
    head
        title JSON Server
        link(rel="icon", href="./favicon.ico",  type="image/icon type")
        link(rel="stylesheet", href="http://localhost:3333/css/main.css")
    body 
        menu
            ul
                li
                    a(href="/") Home
                li
                    a(href="/actions/add") Create new JSON  