include header

div(class="main-container")
    h1 JSON Placeholder Server
    div(class="files-container")
        ul
            each file in files
                li
                    a(href=file.replace('.json', ''))=file.replace('.json', '')
                